<div class='row fac-title'>
  <div class='col-md-12'>
    <h3>{{facility.name}}
      <button ng-show="!isLiked" ng-click="like()" class="btn btn-warning">Like</button>
      <button ng-show="isLiked" ng-click="unlike(likeId)" class="btn btn-warning">Unlike</button>
    </h3>
  </div>
</div>
<div class='row fac-info'>
  <div class='col-md-2'>
    <img class="display_images" src="{{facility.img_url}}">
  </div>
  <div class='col-md-10 fac-data'>
      Address: {{facility.formatted_address}}
      <br>
      Phone: {{facility.formatted_phone_number}}
      <br>
      Rating: {{facility.rating}}
      <br>
      Website: <a href="{{facility.website}}">{{facility.website}}</a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <h3>Reviews <button ng-click="newReview()" class='btn btn-warning' style="margin-left: 30px;">New Review</button></h3>
  </thead>
  <tbody>
      <tr ng-repeat="review in facility.reviews">
      <td class="col-md-1">
      <small>
      {{review.user}}
      <br>
      Score ({{review.score}})
      </small>
      </td>
      <td class="col-md-7"> {{review.body}}
      </td>
      <td class="col-md-1">
      <p ng-if="review.user !== current_user.name">Useful Review?</p>
      </td>
      <td class="col-md-3">
      <button ng-if="review.user !== current_user.name" ng-click="upVote(review.id)" class='btn btn-success'><i class="fa fa-thumbs-up fa-lg"></i></button>
      <button ng-if="review.user !== current_user.name" ng-click="downVote(review.id)" class='btn btn-danger'><i class="fa fa-thumbs-down fa-lg"></i></button>
      <button ng-if="review.user === current_user.name" ng-click="editReview(review.id)" class='btn btn-primary'><i class="fa fa-pencil-square-o fa-lg"></i></button>
      <button  ng-if="review.user === current_user.name"ng-click="deleteReview(review.id)" class='btn btn-danger'><i class="fa fa-trash-o fa-lg"></i></button>

      </td>
      </tr>
  </tbody>
</table>

