<div class="homepage">
  <div class="row text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <form action="/users/auth/facebook" class="button_to" method="get">
        <div>
          <button class="btn btn-block btn-social btn-facebook btn-lg" type="submit"><i class="fa fa-facebook"></i>Log in with Facebook</button>
        </div>
      </form>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><i class="fa fa-search"></i><br>Facilities</span></h2>
          <p>Find places to play any sport you desire</p>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><i class="fa fa-users"></i><br>Friends</span></h2>
          <p>Connect with your teammates and see what they're up to</p>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><i class="fa fa-futbol-o"></i><br>Play</span></h2>
          <p>Increase your time playing by reducing your time organising</p>
        </div>
      </div>
    </div>
  </div>
</div>

